HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
ojdbc8.jar
/resources/statc/js/jquery-3.3.1.js
holzhausen.p12
application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

/src/main/resources/application.properties
