<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MedHelper</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: #CCFF99">
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" th:href="@{/}">MedHelper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/map}">Przychodnie<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logowanie}" sec:authorize="isAnonymous()">Logowanie<span
                            class="sr-only">(current)</span></a>
                    <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg background-color:#CCFF99">
    <span class="navbar-brand mb-0 h1 mx-auto">Wyszukiwanie pacjenta</span>
</nav>

<div class="row">
    <div class="col-2" style="margin-top: 30px;">
        <div class="list-group sticky-top">
            <a class="list-group-item text-light bg-success">Menu</a>
            <a class="list-group-item list-group-item-action  border-success" th:href="@{/}">Strona główna</a>
            <a class="list-group-item list-group-item-action  border-success" th:href="@{/adminPanel/addData}">Wprowadź dane seryjne</a>
            <a class="list-group-item list-group-item-action  border-success" th:href="@{/adminPanel/findDoctor}">
                Dodaj wizyty
            </a>
        </div>
    </div>
    <div class="col-9">
        <div class="shadow-sm p-3 mb-5 bg-white rounded" id="findPatient">
            <form method="post" th:action="@{/adminPanel/findDoctor}" autocomplete="off">
                <input type="hidden" autocomplete="false">
                <div class="form-group myDiv">
                    <label for="inputName">Dane lekarza</label>
                    <input type="text" class="form-control" id="inputName" aria-describedby="cityHelp"
                           name="data">
                    <small id="cityHelp" class="form-text text-muted">Podaj dane lekarza, aby móc go wyszukać.</small>
                </div>
                <div th:if="${warn}">Lekarz o podanym numerze pesel nie istnieje</div>
                <button type="submit" class="btn btn-success" id="look">Szukaj</button>
            </form>
            <table class="table table-bordered" style="margin-top: 30px">
                <thead>
                <tr>
                    <th scope="col">Imię i Nazwisko</th>
                    <th scope="col">Pesel</th>
                    <th scope="col">Specjalność</th>
                    <th scope="col">Dodaj wizytę</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="doctor : ${doctors}">
                    <td th:text="'dr. '+${doctor.name}"></td>
                    <td th:text="${doctor.pesel}"></td>
                    <td th:text="${doctor.specjalnosc}">Otto</td>
                    <td>
                        <form method="get" th:action="@{/adminPanel/reserveVisits}">
                            <input type="hidden" th:value="${doctor.userId}" name="doctorId">
                            <button type="submit" class="btn btn-success" style="width: 100%">Dodaj wizyty</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example" th:if="${maxPage}>0">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${page} > 1">
                        <a class="page-link" th:href="@{/adminPanel/findDoctorPage(page=(${page}-1))}">Previous</a></li>
                    <li class="page-item disabled" th:if="${page} == 1">
                        <a class="page-link"  tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/adminPanel/findDoctorPage(page=(${page}-2))}" th:if="${page} > 2" th:text="${page}-2">
                        </a></li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/adminPanel/findDoctorPage(page=(${page}-1))}" th:if="${page} > 1" th:text="${page}-1">
                        </a></li>
                    <li class="page-item active"><span class="page-link" th:text="${page}"><span class="sr-only">(current)</span></span></li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/adminPanel/findDoctorPage(page=(${page}+1))}" th:if="${page} < ${maxPage}" th:text="${page}+1">
                        </a></li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/adminPanel/findDoctorPage(page=(${page}+2))}" th:if="${page} < ${maxPage}-1" th:text="${page}+2">
                        </a></li>
                    <li class="page-item" th:if="${page} < ${maxPage}">
                        <a class="page-link" th:href="@{/adminPanel/findDoctorPage(page=(${page}+1))}">Next</a></li>
                    <li class="page-item disabled" th:if="${page} == ${maxPage}">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>


<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
