<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MedHelper</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: #CCFF99">
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" th:href="@{/}">MedHelper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/map}">Przychodnie<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logowanie}" sec:authorize="isAnonymous()">Logowanie<span
                            class="sr-only">(current)</span></a>
                    <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg background-color:#CCFF99">
    <span class="navbar-brand mb-0 h1 mx-auto">Dodawanie wizyt</span>
</nav>

<div class="row">
    <div class="col-2" style="margin-top: 30px;">
        <div class="list-group sticky-top">
            <a class="list-group-item text-light bg-success">Menu</a>
            <a class="list-group-item list-group-item-action  border-success" th:href="@{/}">Strona główna</a>
            <a class="list-group-item list-group-item-action  border-success" th:href="@{/adminPanel/addData}">Wprowadź dane seryjne</a>
            <a class="list-group-item list-group-item-action  border-success" th:href="@{/adminPanel/findDoctor}">
                Dodaj wizyty
            </a>
        </div>
    </div>
    <div class="col-9">
        <div class="shadow-sm p-3 mb-5 bg-white rounded" id="findPlace">
            <form method="post" th:action="@{/register}">
                <input type="hidden" th:value="${doctorId}" id="doctorId">
                <div class="form-group myDiv">
                    <label for="inputDate">Data wizyt</label>
                    <input type="date" class="form-control" id="inputDate" aria-describedby="cityHelp" name="date">
                    <div class="list-group inputhints" id="hints1">
                    </div>
                </div>

                <div class="form-group myDiv">
                    <label for="inputTime">Czas wizyty</label>
                    <input type="number" class="form-control" id="inputTime" name="visitTime">
                    <div class="list-group inputhints">
                    </div>
                </div>

                <div class="form-group myDiv">
                    <label for="inputPlace">Placówka</label>
                    <input type="text" class="form-control" id="inputPlace" placeholder="Marka Hłaski, Wrocław">
                    <div class="list-group inputhints" id="hints2">
                    </div>
                </div>

                <div class="form-group myDiv">
                    <label for="inputRooms">Wybierz gabinet</label>
                    <select class="form-control" id="inputRooms" name="gabinetId" disabled>
                    </select>
                    <div class="list-group inputhints" id="hints3">
                    </div>
                </div>

                <button type="button" class="btn btn-success" id="submitButton">Zatwierdź</button>
                <div class="invalid-feedback" id="invalidData" style="display: none;">
                    Niepoprawnie wypełniony formularz
                </div>
            </form>

            <table class="table table-bordered" style="margin-top: 30px">
                <thead>
                <tr>
                    <th scope="col">Godzina rozpoczęcia</th>
                    <th scope="col">Godzina zakończenia</th>
                    <th scope="col">Dodaj</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
            <button type="button" class="btn btn-success" id="reserveButton">Zatwierdź rezerwacje</button>
            <div class="invalid-feedback" id="invalidReserve" style="display: none;">
                Nie dodano rezerwacji
            </div>
        </div>


    </div>
</div>

<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/visitReserveAjax.js}"></script>
<script th:src="@{/js/visitReserve.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
