.myDesc {
    padding: 10px;
    color: white;
    font-size: 20px;
    margin: 15px;
}

.myDoctor {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 28px;
    font-weight: 600;
    margin: 15px;
}

.tableDesc {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}

.no-desc, .time-desc, .no, .time {
    width: 30%;
}

.myTable {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
