<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>
<body>
    <div style="#9900ff: #5cb85c">
        <h1 style="color: whitesmoke; padding: 10px">Medhelper</h1>
    </div>
    <div>
        <h2 style="text-align: center">Thank you for creating account on our website.</h2>
    </div>
    <div style="margin-top: 50px;margin-left: 10px">Before sign in confirm your account. If you didn't create this account, just ignore this message.</div>
    <div style="margin-left: 10px">
            <a th:href="'http://localhost:8080/activation/confirmAccount?userId='+${userId}" >Potwierdź konto</a>
    </div>
    <div style="margin-left: 10px">
        <a th:href="'http://localhost:8080/activation/changePassword?userId='+${userId}+'&confirm=true'">Potwierdź konto i zmień hasło</a>
    </div>

</body>
</html>
